/*
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;
*/

/*
grayish: #717c89
bluegray: #8aa2a9
greengray: #90baad
green: #a1e5ab
lightgreen: #adf6b1
*/

/*Main Styling*/
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0px 50px;
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
}
h1 {
    font-size: 48px;
    padding-top: 15px;
}
.container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: auto auto auto ;
    grid-template-areas: 
        "navigation navigation "
        "main related"
        "footer footer";
    grid-gap: 20px;
}

div {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.navigation {
    grid-area: navigation;
    display: inline-block;
    padding: 0px;
    height: 40px;
}
.main-content {
    grid-area: main;
    padding: 0px 5px;
}

/*Home Page*/
.main-content img {
    padding-left: 10px;
    height: 50px;
}
.main-content h1{
    margin-top: 0px;
}
.related-content {
    grid-area: related;
    color: white;
    background-color: #8aa2a9;
    padding: 0 20px;
}
.footer {
    grid-area: footer;
    text-align: center;
    background-color: #90baad;
    color: white;
}

/*Locations Page*/

.location h2 {
    display: inline-block;
}
.location img {
    display: inline-block;
    height: 70px;
    padding-right: 15px;
    padding-left: 0px;
}

.location p {
    padding-left: 25px;
    max-width: 600px;
}

/*Books Page*/
.main-content ul{
    margin-top: 0px;
}

/*Form 1*/
.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}


/*Form 2*/
.form-style-7{
    max-width:400px;
    margin:50px auto;
    background:#fff;
    border-radius:2px;
    padding:20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
}
.form-style-7 ul{
    list-style:none;
    padding:0;
    margin:0;   
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
}
.form-style-7 li:last-child{
    border:none;
    margin-bottom: 0px;
    text-align: center;
}
.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: #B9B9B9;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
    background: #6B9FFF;
    color:#fff;
}

/* Responsive menu */

.navigation ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}

.navigation li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
.navigation li a {
    display:block;
    min-width:150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #717c89;
    text-decoration: none;
}
/*Active color*/
.navigation li a.active {
    background: #90baad;
}
/*Hover state for top level links*/
.navigation li:hover a {
    background: #90baad;
}
/*Style 'show menu' label button and hide it by default*/
.navigation .show-menu {
    text-decoration: none;
    color: #fff;
    background: #90baad;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
.navigation input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
.navigation input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
    body {
        padding: 0px;
    }

    .navigation {
	height: auto;
    }

    /* Change grid */
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "navigation"
            "main"
            "related"
            "footer";
        grid-gap: 20px;
    }
    
    /*Make dropdown links appear inline*/
    .navigation ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    .navigation li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    .navigation ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .navigation .show-menu {
        display:block;
    }
}